
{%extends 'base.html'%}

{%block content%}


    <div class="kgacontainer">

        <div class="login">
      
          <h1>Create Product</h1>
      
          <form  method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="input-box">
              {{form.TITLE}}
              <i class="fa fa-tag"></i>
            </div>
      
            <div class="input-box">
                {{form.DESCRIPTION}} 
                <i class="fa fa-info"></i>

              </div>

              <div class="input-box">
                {{form.PRICE}}
                <i class="fa fa-money"></i>
              </div>

              <div  class="input-box">
                <label style="color: rgb(17, 242, 250);">Select Product Category : </label>
                <section>
                    {{ form.PRODUCT_CATEGORY }}
                </section>
                <i class="fa fa-list-alt"></i>
            </div>     
              <div class="input-box">
                {{form.IMAGE}}

                <i class="fa fa-image"></i>
              </div>
            <button type="submit">CREATE</button>
           
          </form>
      
        </div><!-- End Login -->
      
      </div>
{%endblock%}