{%extends 'base.html'%}
{%block content%}

{%load static%}

<link href='{% static "/css/table.css" %}'rel="stylesheet" />

<body class="bodystar">
<div class="div">
  <h2 class="head" >Product List</h2>
  <table style="width: 100%; border-collapse: collapse; text-align: center;">
    <thead>
      <tr>
        <th class="tablehead">Title</th>
        <th class="tablehead">DESCRIPTION</th>
        <th class="tablehead">RATINGS</th>
        <th class="tablehead">PRICE</th>
        <th class="tablehead">PRODUCT CATEGORY</th>
        <th class="tablehead">PRODUCT IMAGE</th>
        <th class="tablehead">UPDATE</th>
        <th class="tablehead">DELETE</th>
      </tr>
    </thead>
    <tbody>
        {%for product in products%}
      <tr>       
        <td class="td">{{product.TITLE}}</td>
        <td class="td">{{product.DESCRIPTION}}</td>
        <td class="td" >
          <p style="display: none;"  id="ratings" >{{product.RATINGS}}</p>     
            <span class="star" data-value="1">&#9733;</span>
            <span class="star" data-value="2">&#9733;</span>
            <span class="star" data-value="3">&#9733;</span>  
            <span class="star" data-value="4">&#9733;</span>
            <span class="star" data-value="5">&#9733;</span>     
        </td>        
        <td class="td">₹{{product.PRICE}}</td>
        <td class="td">{{product.PRODUCT_CATEGORY}}</td>
        <td class="td"><img src="{{ product.IMAGE.url }}"  alt="Product Image"  width="150px"></td>

        <td class="td">
          <button type="button" class="btn btn-success btn-sm"><a style="color: white;" href="{%url 'edit' product.id %}">UPDATE </a></button>
        </td> 
        <td class="td">
        
          <button type="button"  class="btn btn-danger btn-sm"><a style="color: white;"  href="{%url 'delete' product.id %}">DELETE</a></button>
        </td>
      </tr>
      {%endfor%}
      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>
<script src='{% static "js/table.js" %}'></script>



{%endblock%}