
{% extends 'base.html' %}
{%load static%}
{%block title%}Products{%endblock%}
{%block content %}

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {%for product in products%}
        <div class="col-sm-6 col-md-4 col-lg-3">    
            <div class="box">
            <a href="">
              <div class="img-box">
                <img src= "{{product.IMAGE.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{product.TITLE}}
                </h6>
               
                  <h6 ><br>
                    Price
                    <span><br>
                     ₹{{product.PRICE}}
                    </span>                  
                  </h6>
              
        
                
              </div>
              <div id="adddeleteupdate" style="text-align: center;" >
                <div style="padding-top: 5px; padding-bottom:5px">
                  <button type="button" class="btn btn-primary btn-sm"><a style="color: rgb(253, 253, 253);" href="{%url 'edit' product.id %}">ADD-TO-CART </a></button>
                </div>
                  <button type="button" class="btn btn-success btn-sm"><a style="color: rgb(255, 255, 255);" href="{%url 'edit' product.id %}">Edit </a></button>
                  <button type="button"  class="btn btn-danger btn-sm"><a style="color: white;"  href="{%url 'delete' product.id %}">Delete</a></button>
      
                 </div>
               <!-- star -->
              <div class="container">
                <div class="rating" data-rating="0">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <p>Current Rating: <span id="currentRating">{{product.RATINGS}}</span> stars</p>
            </div>
              <!-- end star -->
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        
        {%endfor%}
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>
<script>
let i = document.querySelectorAll('.star')


i.forEach(i => i.classList.add('active'))

</script>
  <!-- end shop section -->
{%endblock%}