
{% extends 'base.html' %}
{%load static%}
{%block title%}Products{%endblock%}
{%block content %}

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {%for product in products%}
        <div class="col-sm-6 col-md-4 col-lg-3">    
            <div class="box">
            <a href="">
              <div class="img-box">
                <img src= "{{product.IMAGE.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{product.TITLE}}
                </h6>
                <h6 ><br>
                  Price
                  <span>
                  ${{product.PRICE}}
                  </span>                  
                </h6>
            
              </div>
             
               <!-- star -->
              <div class="container">
                <div class="rating" data-rating="0">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <p>Current Rating: <span id="currentRating">0</span> stars</p>
            </div>
              <!-- end star -->
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        
        {%endfor%}
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>

  <!-- end shop section -->
{%endblock%}